  <page>

    <title>{{chemCompounds.name}}</title>

    <ns>0</ns>

    <id>{{chemCompounds.cid}}</id>


    <revision>

      <id>{{chemCompounds.cid}}</id>

      <timestamp>{{chemCompounds.date_time}}</timestamp>

      <contributor>

        <username>Pranav Kumar</username>

        <id>21</id>

      </contributor>

      <comment>xmlpage created</comment>

      <model>wikitext</model>

      <format>text/x-wiki</format>


      <text bytes="10288" xml:space="preserve">

={{chemCompounds.name}}=

{{'{{ज्ञानसन्दूक'}}
|name = Infobox/doc	
|title        = {{chemCompounds.name}}
|titlestyle   =   
|headerstyle  = background:#cdf;
|labelstyle   = background:#ccc;
|datastyle    =   
| header1  = भौतिक और रासायनिक गुण
|  label1  =  
|   data1  =  
{% if chemCompounds.molecular_formula %}
| header2  =  
|  label2  = आणविक भार सूत्र
|   data2  = {{chemCompounds.molecular_formula}}
{% endif %}
{% if chemCompounds.molecular_weight %}
| header3  =  
|  label3  = आणविक भार
|   data3  =  {{chemCompounds.molecular_weight}}
{% endif %}
{% if chemCompounds.Complexity %}
| header4  =  
|  label4  = जटिलता  
|   data4  = {{chemCompounds.Complexity}}
{% endif %}
{% if chemCompounds.Density %}
| header5  =  
|  label5 = घनत्व 
|   data5  = {{chemCompounds.Density}}
{% endif %}
{% if chemCompounds.Boiling_Point %}
| header6  =  
|  label6 = क्वथनांक
|   data6  = {{chemCompounds.Boiling_Point}}
{% endif %}
{% if chemCompounds.Melting_Point %}
| header7  =  
|  label7  = हिमांक
|   data7  = {{chemCompounds.Melting_Point}}
{% endif %}
{% if chemCompounds.Flash_Point %}
| header8  =  
|  label8  = फ्लैश बिंदु
|   data8  = {{chemCompounds.Flash_Point}}
{% endif %}
{% if chemCompounds.logP %}
| header9  =  
|  label9  = logP 
|   data9  =  {{chemCompounds.logP}}
{% endif %}
{% if chemCompounds.logS %}
| header10  =  
|  label10  = logS 
|   data10  = {{chemCompounds.logS}}
{% endif %}
{% if chemCompounds.LogKoa %}
| header11  =  
|  label11 = LogKoa 
|   data11  = {{chemCompounds.LogKoa}}
{% endif %}
{% if chemCompounds.Surface_Tension %}
| header12  =  
|  label12 = सतह तनाव 
|   data12  = {{chemCompounds.Surface_Tension}}
{% endif %}
{% if chemCompounds.Ionization_Potential %}
| header13  =  
|  label13 = आयनन विभव 
|   data13  = {{chemCompounds.Ionization_Potential}}
{% endif %}
}}
{{'\n'}}
{%- for intro in chemCompounds.intro %}
{{intro }}
{% endfor %}
इस यौगिक का आणविक सूत्र '''{{chemCompounds.molecular_formula}}''' है और आणविक भार '''{{chemCompounds.molecular_weight}}''' है।

इसका IUPAC (इंटरनेशनल यूनियन ऑफ प्योर एंड एप्लाइड केमिस्ट्री) नाम '''{{chemCompounds.iupac_name}}''' है।

{{chemCompounds.name}} के समानार्थी शब्द हैं-{{'\n'}}
{%- for syn in chemCompounds.synonyms -%}
{{syn }} 
{% endfor %}
{% if chemCompounds.Decomposition %}
{{chemCompounds.Decomposition}}
{% endif %}

==रासायनिक और भौतिक गुण==

एसिटिक एसिड का सटीक द्रव्यमान (अणु के अलग-अलग समस्थानिकों के द्रव्यमान का योग) {{chemCompounds.Exact_Mass}} और मोनोआइसोटोपिक द्रव्यमान 60.{{chemCompounds.Monoisotopic_Mass}} है। क्वथनांक, हिमांक और फ्लैश बिंदु क्रमशः {{chemCompounds.Boiling_Point}},{{chemCompounds.Melting_Point}}, {{chemCompounds.Flash_Point}} हैं। हाइड्रोजन बॉन्ड डोनर और हाइड्रोजन बॉन्ड स्वीकर्ता की कुल संख्या क्रमशः {{chemCompounds.Hydrogen_Bond_Donor_Count}} और {{chemCompounds.Hydrogen_Bond_Acceptor_Count}} है। यौगिक में कुल {{chemCompounds.Rotatable_Bond_Count}} घूर्णन योग्य बंधन होता है और समस्थानिक परमाणु की कुल संख्या {{chemCompounds.Isotope_Atom_Count}} है।
यौगिक में परिभाषित परमाणु स्टिरियोसेंटर {{chemCompounds.Defined_Atom_Stereocenter_Count}} और अपरिभाषित परमाणु स्टीरियोसेंटर {{chemCompounds.Undefined_Atom_Stereocenter_Count}} है, परिभाषित बंधन स्टीरियोसेंटर {{chemCompounds.Defined_Bond_Stereocenter_Count}} और अपरिभाषित बंधन स्टीरियोसेंटर {{chemCompounds.Undefined_Bond_Stereocenter_Count}} है। यौगिक में कुल {{chemCompounds.Heavy_Atom_Count}} भारी परमाणु (हाइड्रोजन को छोड़कर कोई भी परमाणु) हैं और सहसंयोजक बंधित इकाई {{chemCompounds.Covalently_Bonded_Unit_Count}} है। XLogP3_AA (एक यौगिक में ऑक्टेनॉल / जल विभाजन गुणांक की गणना) है {{chemCompounds.XLogP3_AA}} और यौगिक का टोपोलॉजिकल ध्रुवीय सतह क्षेत्र {{chemCompounds.Topological_Polar_Surface_Area}} है। यौगिक पर औपचारिक आवेश (प्रत्येक परमाणु के संयोजकता इलेक्ट्रॉनों की संख्या और परमाणु से जुड़े इलेक्ट्रॉनों की संख्या के बीच का अंतर) {{chemCompounds.Formal_Charge}} है।

यौगिक में {% if chemCompounds.Complexity %}जटिलता {{chemCompounds.Complexity}}{% endif %}{% if chemCompounds.Solubility %}, घुलनशीलता {{chemCompounds.Solubility}} है{% endif %}{% if chemCompounds.Density %}, घनत्व {{chemCompounds.Density}} है{% endif %}{% if chemCompounds.Vapor_Density %}, वाष्प घनत्व {{chemCompounds.Vapor_Density}} है{% endif %}{% if chemCompounds.Viscosity %}, श्यानता {{chemCompounds.Viscosity}} है{% endif %}{% if chemCompounds.Stability %} और स्थिरता की स्थिति {{chemCompounds.Stability}} है{% endif %}।

{% if chemCompounds.logP and chemCompounds.logS and chemCompounds.LogKoa %}यौगिक में {% if chemCompounds.logP %}logP (विभाजन गुणांक का लघुगणकीय रूप) {{chemCompounds.logP}} है,{% endif %}{% if chemCompounds.logS %} logS (जलीय घुलनशीलता) {{chemCompounds.logS}} है{% endif %}{% if chemCompounds.LogKoa %} और LogKoa {{chemCompounds.LogKoa}} (ऑक्टेनॉल-वायु विभाजन गुणांक) है{% endif %}।{% endif %}

{% if chemCompounds.Autoignition_Temperature %}ऑटोइग्निशन तापमान {{chemCompounds.Autoignition_Temperature}} है।{% endif %}{% if chemCompounds.Heat_of_Combustion %} दहन की ऊष्मा {{chemCompounds.Heat_of_Combustion}} है।{% endif %}{% if chemCompounds.Heat_of_Vaporization %} वाष्पीकरण की ऊष्मा {{chemCompounds.Heat_of_Vaporization}} है।{% endif %}{% if chemCompounds.Surface_Tension %} पृष्ठ तनाव {{chemCompounds.Surface_Tension}} है।{% endif %}
{% if chemCompounds.Ionization_Potential %} यौगिक का आयनन विभव {{chemCompounds.Ionization_Potential}} है।{% endif %}

{% if chemCompounds.Color %}
===रंग===

यौगिक का रंग {{chemCompounds.Color}} है।
{% endif %}
{% if chemCompounds.Odor %}
===गंध===

यौगिक का गंध {{chemCompounds.Odor}} है।
{% endif %}
{% if chemCompounds.Odor_Threshold_min %}
===गंध सीमा===

न्युनतम गंध सीमा : {{chemCompounds.Odor_Threshold_min}}
अधिकतम गंध सीमा : {{chemCompounds.Odor_Threshold_max}}
{% endif %}
{% if chemCompounds.pH %}
===pH मान===

विभिन्न दाढ़ (molar) स्तरों पर यौगिक का pH मान - 

{{chemCompounds.pH}}
{% endif %}
{% if chemCompounds.Refractive_Index %}
===अपवर्तक सूचकांक===

यौगिक का अपवर्तन का सूचकांक : {{chemCompounds.Refractive_Index}} है।
{% endif %}

===नियतांक===

{| class="wikitable"
|-
!नियतांक!!मान
|-
|हेनरी का नियम स्थिरांक||{{chemCompounds.Henrys_Law_Constant}}
|-
|वायुमंडलीय OH दर स्थिरांक||{{chemCompounds.Atmospheric_OH_Rate_Constant}}
|-
|}

{% if chemCompounds.Polymerization %}
===बहुलकीकरण===

{{chemCompounds.Polymerization}}
{% endif %}


==संदर्भ==
https://pubchem.ncbi.nlm.nih.gov/compound/{{chemCompounds.cid}}



      </text>

      <sha1> {{chemCompounds.sha}} </sha1>

    </revision>

  </page>